.really-big {
    font-size: 3rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232629;
    padding: 1%;
    /* text-decoration: none; */
}

nav h3 {
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
    text-decoration: none;
}

nav a {
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
    text-decoration: none;
}

h3 {
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
    text-decoration: none;
}

a {
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
    text-decoration: none;
}

nav button {
    cursor: pointer;
    width: 20%;
    margin: 0.5%;
    border-radius: 12px;
    background-color: #31363b;
    color: white;
    border: solid;
    border-color: #31363b;
    transition-duration: 500ms;
}

nav button:hover {
    background-color: #484f57;
    color: white;
    transform: scale(1.1);
}

header {
    display: flex;
    margin: 2%;
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
    background-color: #232629;
}

header img {
    margin: 0.3%;
}

header h1 {
    margin: 0.3%;
}

#main-quote {
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    position: relative;
    overflow: hidden;
}

.bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  z-index: 0;
}

#bg1 {
  z-index: 1;
}

#bg2 {
  z-index: 2;
}

.quote-content {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  padding: 2em;
}



.main-quote h1 {
    margin: 3%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #232629;
}

.main {
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.main-nav button {
    cursor: pointer;
    width: 6%;
    margin: 0.5%;
    border-radius: 12px;
    background-color: #31363b;
    color: white;
    border: solid;
    border-color: #31363b;
    transition-duration: 500ms;
}

.main-nav button:hover {
    background-color: #484f57;
    color: white;
    transform: scale(1.1);
}

.main-wallpapers img {
    width: 85%;
    border-radius: 12px;
}

.main-wallpapers button {
    cursor: pointer;
    width: 16%;
    margin: 0.5%;
    border-radius: 12px;
    background-color: #31363b;
    color: white;
    border: solid;
    border-color: #31363b;
    transition-duration: 500ms;
}

.main-wallpapers button:hover {
    background-color: #484f57;
    color: white;
    transform: scale(1.1);
}

.wallpaper {
    border: solid;
    border-radius: 12px;
    width: 90%;
    padding: 1%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.wallpaper-img {
    border: solid;
    border-radius: 12px;
    width: 90%;
    margin: 0 auto;
}

.wallpaper-img {
    margin: 15px;
}

.main button {
    cursor: pointer;
    width: 6%;
    margin: 0.5%;
    border-radius: 12px;
    background-color: #31363b;
    color: white;
    border: solid;
    border-color: #31363b;
    transition-duration: 500ms;
}

.main button:hover {
    background-color: #484f57;
    color: white;
    transform: scale(1.1);
}

.post button {
    cursor: pointer;
    width: 6%;
    margin: 0.5%;
    border-radius: 12px;
    background-color: #31363b;
    color: white;
    border: solid;
    border-color: #31363b;
    transition-duration: 500ms;
}

.post button:hover {
    background-color: #484f57;
    color: white;
    transform: scale(1.05);
}

.post {
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: #ffffff solid;
    border-radius: 12px;
    width: 90%;
    padding: 1%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
}

.post button {
    display: block;
    margin: 0.5em auto;
    width: 70%;
}

.post img {
    border-radius: 12px;
    border: #ffffff solid;
    width: 70%;
}

/* .post-txt {
    margin: 0 auto;
    padding: 1%;
    text-align: left;
    width: 18%;
} */

.container {
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: #ffffff solid;
    border-radius: 12px;
    width: 80%;
    padding: 1%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
}

.container p {
    margin: 0;
    text-align: left;
    width: 100%;
}

.container h2 {
    margin-bottom: 1%;
    text-align: left;
    width: 18%;
}